.about{
	/*padding: 50px 1rem 50px 1rem;*/
	/*height: 82vh;*/
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	animation: showComponent 0.5s ease;
	/*background-color: yellow;*/
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

.about-img-container{
	width: 100%;
	height: 100%;
	background-color: var(--richblack);
	position: absolute;
	left: 0;
}

.about-img-container img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.35;

}

.about-text-container{
	z-index: 1;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 65%;
}

.about-header{
	font-family: var(--head);
	font-weight: 900;
	font-size: 2.8rem;
	width: fit-content;
	background-color: rgba(255, 119, 18, .8);
	transform: skew(10deg) rotate(-5deg);
	padding: 5px;
	display: flex;
	align-items: center;
	margin: 2rem 0;
}

.about-header span{
	transform: skew(-10deg) rotate(5deg);
}

.about-paragraph{
	font-size: 1.3rem;
}


@media (max-width: 900px){
	.about{
		min-height: 100vh;
	}

	.about-img-container{
		height: 100%;
	}
}
@media (max-width: 800px){
	
	
	.about-header{
		font-size: 2rem;
	}

	.about-paragraph{
		font-size: 1.2rem;
	}
}

@media (max-width:500px){
	.about{
		align-items: flex-start;
		/*padding-bottom: 1rem;*/
	}
	.about-text-container{
		width: 95%;
	}

	.about-header{
		font-size: 1.5rem;
	}
	
	.about-paragraph{
		font-size: 1rem;
	}
}