.kaohsiung{
	padding-top: 50px;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding-bottom: 50px;
	animation: showComponent 0.5s ease;
}

.city-story-wrapper{
	margin-top: 5rem;
	column-count: 4;
	column-gap: 30px;
	padding: 0 1rem;
}

.city-story-div{
	display: grid;
	margin-bottom: 10px;
	break-inside: avoid;

}

.story-img{
	min-height: 293px;
	width: 100%;
}

.story-text{
	padding: 1.5rem 2rem;
	font-family: var(--text);
	font-size: 1.2rem;
}

.story-location{
	text-transform: capitalize;
	margin-top: 1.2rem;
}

@media (max-width: 1100px){
	.city-story-wrapper{
		column-count: 3;
	}
}

@media (max-width: 900px){
	.city-story-wrapper{
		column-count: 2;
	}
}

@media (max-width: 550px){
	.city-story-wrapper{
		column-count: 1;
	}
}