.dashboard{
	padding: 50px 2rem;
	min-height: 80vh;
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: showComponent 0.5s ease;
	/*background-color: teal;*/
}

.dashboard table{
	margin: 2rem;
	text-align: center;
}

.dashboard table th{
	color: var(--pumpkin);
}

th span.user-count{
	color: var(--maxbluegreen) !important;
}

.dashboard table tr:hover{
	background-color: rgba(33, 34, 39, 0.75) !important;
	color: white !important;
}

.dashboard table thead tr:first-child:hover{
	background-color: transparent !important;
}

.user-delete-btn-wrapper i{
	color: var(--danger);
	cursor: pointer;
}

.dashboard table tr:hover .user-delete-btn-wrapper i{
	color: red;
}

.dashboard-message,
.dashboard-message-no-user{
	position: absolute;
	top: 8.5%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: var(--danger);
	padding: 0.5rem 1rem;
	color: white;
	animation: showDelMsg 1s ease;
	display: none;
}

.show-dash-message{
	display: block;
}

@keyframes showDelMsg{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}

}

@media (max-width: 900px){
	.dashboard table{
		font-size: 0.75rem !important;
	}

	.dashboard-message{
		top: 13% !important;
	}
}

@media (max-width: 550px){
	.dashboard-message{
		top: 4.5% !important;
		font-size: 0.7rem !important;
	}
}


@media (max-width: 350px){
	.dashboard table{
		font-size: 0.6rem !important;
	}
}
