.redirectPage{
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 80vh;
}

.redirect-text{
	/*background-color: yellow;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	color: white;
}

.redirect-register-btn{
	/*position: absolute;*/
	/*top: 2rem;*/
	/*right: 1rem;*/
	background-color: var(--pumpkin);
	color: white;
	/*z-index: 1;*/
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	transition: filter 0.5s ease;
	width: fit-content;
}

.redirect-register-btn:hover{
	filter: brightness(80%);
	transition: filter 0.5s ease;
}

.redirect-message{
	/*max-width: 75%;*/
	font-size: 2rem;
	text-align: center;
	margin-bottom: 2rem;
	/*background-color: teal;*/
}

.redirect-images{
	width: 100%;
	height: 100%;
	background-color: var(--richblack);
	display: flex;
}

.redirect-images img{
	width: 50%;
	height: 100%;
	object-fit: fill;
	opacity: 0.5;
}

@media (max-width: 800px){
	.redirectPage{
		min-height: 100vh !important;
	}
	.redirect-images{
		flex-direction: column;
	}

	.redirect-images img{
		width: 100%;
		height: 50vh;
		object-fit: cover;
	}

	.redirect-text{
		padding: 0 2rem;
	}

	.redirect-message{
		font-size: 1.5rem;
	}
}
