.home{
	padding-top: 1rem;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth !important;
	position: relative;
	animation: showComponent 0.5s ease;
}

@keyframes showComponent{
	from{opacity: 0;}
	to{opacity: 1;}
}

.register-btn{
	position: absolute;
	top: 2rem;
	right: 1rem;
	background-color: var(--pumpkin);
	color: white;
	z-index: 1;
	font-size: 1.2rem;
	padding: 0.2rem 1rem;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	transition: filter 0.5s ease;

	/*padding: 1rem;*/

}

.register-btn:hover{
	filter: brightness(80%);
	transition: filter 0.5s ease;
}

.home > *{
	scroll-snap-align: start;
	scroll-behavior: smooth;
}

.landing{
	background-color: var(--richblack);
	color: white;
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
}

.landing-text-wrapper{
	position: absolute;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.landing-quick-links-wrapper{
	display: flex;
	align-items: center;
}

.landing-quick-links{
	margin: 0 2rem;
	font-size: 7rem;
	font-family: var(--accent);
	text-transform: lowercase;
	color: white;
	transition: color 0.5s ease;
}

.landing-quick-links:hover{
	text-decoration: none;
	color: var(--pumpkin);
	transition: color 0.5s ease;
}

.landing-arrow-down{
	height: 50px;
	position: relative;
}

.landing-text-wrapper div .fa-chevron-down{
	color: white;
	font-size: 2rem;
	animation: updown 2s linear infinite;
	position: absolute;
	text-decoration: none;
}

@keyframes updown{
	0%, 100% {
	    bottom: 0;
	  }
	  50% {
	    bottom: 25px;
	  }
}

.landing-text-wrapper div i{
	color: var(--pumpkin);
	font-size: 2rem;
}

.landing h1{
	font-family: var(--title);
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: 2px;
}

.landing p{
	font-family: var(--text);
	font-size: 1.5rem;
	width: 75%;
}

.landing-images-wrapper{
	width: 100%;
	display: flex;
	height: 100%;
}

.landing-images-wrapper div{
	width: 50%;
}

.landing-img{
	width: 50%;
	height: 100%;
	opacity: 0.25;
}

.contents{
	/*background-color: lightcoral;*/
	min-height: 90vh;
	display: flex;
	justify-content: center;
	flex-wrap: no-wrap;
	align-items: center;
	padding: 5rem 2rem;
}

.content-card{
	width: 450px;
	height: 300px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	/*padding: 5px;*/
}

.content-card .content-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
	transition: transform 0.5s ease;
}

.content-tag{
	position: absolute;
	background-color: var(--pumpkin);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 7px;
	font-family: var(--head);
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	transition: background-color 0.5s ease, color 0.5s ease, top 0.5s ease, left 0.5s ease;
}

.content-tag:hover{
	text-decoration: none;
	background-color: white !important;
	color: var(--pumpkin);
	border-radius: 5px;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.content-card:hover{
	background-color: var(--pumpkin);
}

.content-card:hover .content-img{
	transform: scale(1.1);
	opacity: 0.15;
	transition: all 0.5s ease;

}

.content-card:hover .content-tag{
	top: 85%;
	left: 85%;
	background-color: transparent;
	transition: all 0.5s ease;
	border: 1px solid white;
	border-radius: 5px;
}

.content-text{
	position: absolute;
	font-size: 1rem;
	color: white;
	padding: 2rem;
	opacity: 0;
	display: none;
}

.content-card:hover .content-text{
	display: block;
	opacity: 1;
	animation: showText 0.5s ease;
}

@keyframes showText{
	from{opacity: 0;}
	to{opacity: 1;}
}

@media (max-width: 1045px){
  .landing h1{
    font-size: 3rem;
  }

  .landing-quick-links{
    font-size: 5rem;
  }

  .landing p{
    font-size: 1.4rem;
  }
}


@media (max-width: 850px){
  .landing h1{
    font-size: 2.5rem;
  }

  .landing-quick-links{
    font-size: 4rem;
    margin: 0 1.5rem;
  }

  .landing p{
    font-size: 1.3rem;
    /*padding: 0 5rem;*/
  }
  .landing-text-wrapper div i{
    font-size: 1.5rem;
  }
}


@media (max-width: 690px){
  .landing h1{
    font-size: 2.2rem;
  }

  .landing-quick-links{
    font-size: 3rem;
    margin: 0 1.2rem;
  }

  .landing p{
    font-size: 1rem;
    /*padding: 0 4rem;*/
  }
  .landing-text-wrapper div i{
    font-size: 1rem;
  }	

   .landing-images-wrapper{
    flex-direction: column;
  }

  .landing-images-wrapper div{
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 600px){
.content-card{
    height: 250px;
  }
}

@media (max-width: 560px){
  .landing h1{
    font-size: 1.5rem;
  }

  .landing-quick-links{
    font-size: 2.25rem;
    margin: 0 1rem;
  }

  .landing p{
    font-size: 1rem;
    /*padding: 0 2rem;*/
  }
  .landing-text-wrapper div i{
    /*font-size: 0.75rem;*/
  }

}

@media (max-width: 550px){
	.register-btn{
		position: absolute;
		width: fit-content;
		left: 5px;
		top: 20px;
		font-size: 0.8rem;
		padding: 0.2rem 0.5rem;
	}
}

@media (max-width: 400px){
  .landing h1{
    font-size: 1.3rem;
  }

  .landing-quick-links{
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  .landing p{
    font-size: 0.95rem;
    /*padding: 0 2rem;*/
  }
  .landing-text-wrapper div i{
    font-size: 0.5rem;
  }

 }



