.hsinchu{
    padding-top: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 50px;
    animation: showComponent 0.5s ease;
}