.foods{
	padding-top: 50px;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding-bottom: 50px;
	animation: showComponent 0.5s ease;
}

@media (max-width: 500px){
	.foods{
		padding-top: 10px;
	}
}


.page-header{
	font-family: var(--head);
	margin-top: 2rem;
	text-align: center;
	font-size: 5rem;
	font-weight: 700;
	text-transform: capitalize;
}

.section{
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.25);
	min-height: 200px;
	width: 80%;
	margin: 5rem auto 1rem auto;
	display: flex;
	/*align-items: center;*/
	border-radius: 5px;
	position: relative;
	padding: 1rem;
	/*background-color: rgba(255, 119, 18,0.5);*/
}

.section:nth-child(even){
	flex-direction: row-reverse;
	/*box-shadow: -2px 2px 5px 1px rgba(0,0,0,0.5);*/
}


.section-img{
	min-height: 250px;
	/*background-color: yellowgreen;*/
	width: 250px;
	border-radius: 5px;
	position: relative;

}

.section-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	position: absolute;
	top: -3rem;
}

.section-text{
	width: calc(100% - 250px);
	padding-inline: 2vh;
	/*background-color: teal;*/
	/*height: 100%;*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.section:nth-child(even) .section-text-title{
	text-align: left;
}

.section-text-title{
	font-family: var(--title);
	font-size: 2rem;
	text-transform: capitalize;
	letter-spacing: 1px;
	color: var(--pumpkin);
	text-align: right;
}

.section:nth-child(odd) .search-item{
	display: flex;
	justify-content: flex-end;
}

.know-more{
	background-color: var(--pumpkin);
	width: fit-content;
	padding: 5px;
	border-radius: 5px;
	color: white;
	font-weight: 500;
}

.know-more span{
	background-color: white;
	padding: 1px 5px;
	pointer-events: none;
	color: black;
	font-weight: 400;

}

.section a:hover{
	text-decoration: none;
}

.section-img-mobile{
	display: none;
}

.show-more{
	/*background-color: yellow;*/
	margin-top: 2rem;
	display: flex;
	justify-content: center;

}

.show-more span{
	background-color: var(--pumpkin);
	color: white;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 1px 1px 3px 0.30px rgba(0, 0, 0, 0.25);
	transition: color 0.3s ease, background-color 0.3s ease;
}

.show-more span:hover{
	/*filter: brightness(0.9);*/
	background-color: white;
	color: var(--pumpkin);
	transition: color 0.3s ease, background-color 0.3s ease;
}




@media (max-width: 1040px){
	.page-header{
		font-size: 3.5rem;
	}
	.section-img img{
		top: 0;
	}

}

@media (max-width: 800px){
	.section{
		width: 100%;
		/*align-items: flex-start;*/
		margin: 2rem auto 0 auto;
	}
	.section-text{
		padding-inline: 1vh;
	}

	.know-more{
		font-size: 0.8rem;
	}

	.section:nth-child(odd) .search-item{
		justify-content: flex-start;
	}

	.section:nth-child(even){
		flex-direction: row;
	}

	.section-text-title{
		text-align: left;
	}

	.page-header{
		font-size: 3rem;
		margin-top: 3rem;
	}



	
}

@media (max-width: 650px){
	.page-header{
		font-size: 2rem;
	}

	.section-text-title{
		font-size: 1.5rem;
	}

	.section-text-desc{
		font-size: 0.8rem;
	}

	.know-more{
		font-size: 0.8rem;
	}
}



@media (max-width: 500px){
	.page-header{
		font-size: 1.6rem;
	}

	.section{
		flex-direction: column !important;
		width: 100%;
	}

	.section-text{
		width: 100%;
	}

	.section-img{
		/*background-color: teal;*/
		width: 100%;
		min-height: 150px;
		display: none;
		/*height: 180px !important;*/
	}
	.section-img-mobile{
		width: 150px;
		height: 150px;
		float: right;
		background-color: teal;
		display: block;
		border-radius: 50%;
	}
	.section-img-mobile img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	.section-text-title{
		/*text-align: center;*/
	}
}