.footer{
	width: 100%;
	padding: 1rem 0.5rem 0 0.5rem;
	/*z-index: 5;*/
}
.footer-top{
	display: flex;
	justify-content: space-around;
}

.footer-header{
	font-family: var(--head);
	font-weight: 500;
}

.footer-header ul li{
	list-style: none;
}

.footer-header ul li,
.footer-header ul li a{
	color: var(--richblack);
	font-weight: 300;
	font-size: 0.9rem;
}

.footer-header:nth-child(2) ul li span a:first-child{
	display: inline-flex;
	width: 75px;
}

.footer-header ul li a:hover{
	text-decoration: none;
}

.footer-bottom{
	text-align: center;
	background-color: var(--cultured);
	padding-bottom: 5px;
	/*width: 100%;*/
}

.footer-bottom a{
	color: var(--pumpkin);
}

.footer-bottom a:hover{
	color: var(--pumpkin);
}


.socmed-links{
	display: flex;
	align-items: center;
}

.socmed-links a{
	margin-left: 10px;
}

.socmed-links a i{
	font-size: 1.5rem;
}

.fa-facebook-square{
	color: #3B5998;
}

.fa-youtube-square{
	color: #FF0000;
}


@media (max-width: 600px){
  
  .footer-top{
    flex-direction: column;
  }

  .footer-header{
    text-align: center !important;
  }

  .footer-header:nth-child(2) ul li{
    /*background-color: yellow;*/
    display: flex;
    justify-content: space-evenly;
  }

  .footer-header:nth-child(2) ul li a{
    display: flex;
    justify-content: center;
  }

  .socmed-links{
    justify-content: center;
  }
}