.storiesTeachers{
	/*padding-top: 50px;*/
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	padding-bottom: 50px;
	animation: showComponent 0.5s ease;
	background-color: var(--richblack);
	position: relative;
	/*width: 100vw;*/
}

.cities-bg{
	opacity: 0.5;
	height: 95vh;
	width: 100%;
	position: absolute;
	object-fit: cover;
	top: 0;
	
}

.cities-content-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	opacity: 1 !important;
	z-index: 1;
	position: relative;
	height: 100vh;
	/*background-color: rgba(255,255,255,0.25);*/
	width: 100%;
}

.cities-content-wrapper h1{
	font-size: 7rem;
	font-family: var(--head);
	font-weight: 700;
	z-index: 1;
}

.cities-content-wrapper p{
	margin-top: 2rem;
	font-size: 2rem;
	font-family: var(--text);
	width: 600px;
	max-width: 75%;
	text-align: center;
	z-index: 1;
}

.pop-ups{
	position: absolute;
	/*background-color: rgba(255,255,255, 0.5);*/
	width: 100%;
	height: 60vh;
	text-align: center;
}

.pop-ups-inner-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	/*background-color: teal;*/
	
}

.pop-ups .pop-ups-inner-wrapper img{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	position: absolute;
	opacity: 0;

}

.animate-pop-up{
	/*animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);*/
}

.pop-up-1{
	top: 1rem;
	left: 35%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 2s;
	/*animation: popUp 4s ease-in;*/
	/*animation-delay: 3s;*/
	
}

.pop-up-2{
	top: 15%;
	right: 35%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 4s;
	/*animation: popUp 3.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite                                               ;*/
	/*animation-delay: 5s;*/
}

.pop-up-3{
	bottom: 18%;
	left: 60%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 6s;
	/*animation: popUp 4s ease-in infinite;*/
	/*animation-delay: 5s;*/
}

.pop-up-4{
	top: 25%;
	left: 45%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 8s;
	/*animation: popUp 4s ease-in infinite;*/
	/*animation-delay: 5s;*/
}

.pop-up-5{
	bottom: 5rem;
	left: 45%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 10s;
	/*animation: popUp 4s ease-in infinite;*/
	/*animation-delay: 5s;*/
}

.pop-up-6{
	top: -5rem;
	left: 55%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 12s;
	/*animation: popUp 4s ease-in;*/
	/*animation-delay: 3s;*/
	
}

.pop-up-7{
	top: 30%;
	right: 60%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 14s;
	/*animation: popUp 3.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite                                               ;*/
	/*animation-delay: 5s;*/
}

.pop-up-8{
	top: 40%;
	left: 58%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 16s;
	/*animation: popUp 4s ease-in infinite;*/
	/*animation-delay: 5s;*/
}

.pop-up-9{
	top: 80%;
	left: 32%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 18s;
	/*animation: popUp 4s ease-in infinite;*/
	/*animation-delay: 5s;*/
}

.pop-up-10{
	bottom: 0;
	left: 53%;
	animation: popUp 3200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-delay: 20s;
	/*animation: popUp 4s ease-in infinite;*/
	/*animation-delay: 5s;*/
}

.cities-links-wrapper{
	/*background-color: yellow;*/
	/*border: 1px solid yellow;*/
	width: 55vw;
	display: flex;
	flex-wrap: wrap;
	min-height: 80vh;
	justify-content: center;
	align-items: center;
	/*margin-top: ;*/
	position: relative;
}

.cities-padding-top{
	width: 1px;
	height: 75px;
	/*background-color: var(--pumpkin);*/
	position: absolute;
	top: -13%;
}

.city-link-wrapper{
	color: black;
	width: 300px;
	/*background-color: white;*/
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*font-size: 2rem;*/
	margin: 10px;
	position: relative;
	border-radius: 50%;

	/*filter: brightness(0.3);*/
}

.city-link-wrapper img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 0;
	opacity: 0.3;
	transition: opacity 0.35s ease, transform 0.35s ease;
	border-radius: 50%;
}


.city-link-wrapper span{
	z-index: 1;
	text-transform: uppercase;
	color: white;
	font-size: 2rem;
	font-family: var(--title);
	font-weight: 600;
	letter-spacing: 2.5px;
	position: relative;
	transition: ease-out 0.5s;
	padding: 0 5px;
	pointer-events: none;
}

.city-link-wrapper:hover{
	text-decoration: none;
}

.city-link-wrapper:hover span{
	background-color: rgba(0,0,0,0.5);
}

.city-link-wrapper:hover span + img{
	opacity: 1;
	transform: scale(1.025);
	transition: opacity 0.35s ease, transform 0.35s ease;
}


.bordered::after,
.bordered::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: all .5s;
    opacity: 0;
}

.city-link-wrapper:hover .bordered::after,
.city-link-wrapper:hover .bordered::before{
	opacity: 1;
	transition: all .5s;
}

.bordered::after {
    top: -9px;
    left: -9px;
    border-top: 5px solid white;
    border-left: 5px solid white;
}

.bordered::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}

.city-link-wrapper:hover .bordered {
    color: white;
}

.city-link-wrapper:hover .bordered::after,
.city-link-wrapper:hover .bordered::before {
    width: 30px;
    height: 30px;
    border-color: white;
}

a#stories i{
	pointer-events: none;
}

@keyframes popUp{
	0% {
    transform: translateY(30px);
    opacity: 0;
	}
	50% {
	    transform: translateY(0px);
	    opacity: 1;
	}
	100% {
	    transform: translateY(-30px);
	    opacity: 0;
	}
}

@media (max-width: 1500px){
	.cities-links-wrapper{
		width: 75vw;
	}
}

@media (max-width: 900px){
	.cities-bg{
		height: 80vh;
		top: 0;
		object-fit: cover;
		
	}

	.cities-content-wrapper{
		height: 90vh;
	}

	.cities-padding-top{
		top: -7%;
	}



	.cities-links-wrapper{
		width: 90vw;
	}

	.pop-ups .pop-ups-inner-wrapper img{
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 700px){
	.cities-padding-top{
		top: -7%;
	}
}




@media (max-width: 600px){
	.storiesTeachers{
		padding-top: 10px;
	}

	.cities-content-wrapper{
		height: 80vh;
	}

	.cities-padding-top{
		top: -4%;
	}

	.cities-content-wrapper h1{
		font-size: 4rem;
	}

	.cities-content-wrapper p{
		font-size: 1.2rem;
	}
}

@media (max-width: 400px){
	.cities-content-wrapper h1{
		font-size: 3rem;
	}
}



