:root{
  --blue: #0066B3;
  --maxbluegreen: #3AB9C6;
  --pumpkin: #FF7712;
  --richblack: #050404;
  --gainsboro: #DCDCDC;
  --cultured: #F5F5F5;
  --mimipink: #FFD1DC;
  --success: #5cb85c;
  --danger: #d9534f;

  --title: 'Yanone Kaffeesatz', sans-serif;
  --head: 'Poppins', sans-serif;
  --text: 'Nunito', sans-serif;
  --accent: 'Lora', serif;

  --white-glass: rgba(255,255,255,0.35);
  --white-glass-shadow:  0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  --white-glass-border:  1px solid rgba( 255, 255, 255, 0.05 );
  --black-glass: rgba(0,0,0,0.25);
  --black-glass-shadow: 0 8px 32px 0 rgba( 5, 12, 35, 0.37 );
  --black-glass-border:  1px solid rgba(255,255,255,0.05);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: var(--cultured);
  position: relative;
}

.footer-wrapper{
  background-color: var(--gainsboro);
}

.auth-wrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  z-index: 3;
  justify-content: center;
  align-items: center;
  display: none !important;
}

.show-auth{
  display: flex !important;
}