.page404{
	/*padding-top: 50px;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	animation: showComponent 0.5s ease;
	font-size: 5rem;
	background-color: black;
	width: 100vw;
	position: relative;*/


	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 80vh;
	/*background-color: var(--richblack);*/
}

.page404-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
}

.page404-content-wrapper{
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	font-family: var(--head);
	padding: 2rem;
	border-radius: 10px;
	border: 2px solid var(--pumpkin);
	position: relative;
}


.repairman{
	width: 200px;
	position: absolute;
	right: -3rem;
	top: -5rem;
	z-index: 1;
}

.page404-content-wrapper h1{
	color: var(--pumpkin);
	font-family: var(--title);
	letter-spacing: 1.5px;
	font-size: 3rem;
	text-transform: capitalize;
}

.page404-content-wrapper p + p{
	font-size: 1.2rem;
}

.page404-content-wrapper p.not-found{
	color: var(--maxbluegreen);
	font-size: 1.5;
}



.link-selection{
	/*font-size: 1rem;*/
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.link-selection div+div{
	margin-left: 10px;

}


.link-selection a{
	color: var(--pumpkin);
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	box-shadow: 0.5px 0.5px 0px 0.5px rgba(0,0,0,0.5);
	transition: color 0.5s ease;
}

.link-selection a:hover{
	color: var(--maxbluegreen);
	text-decoration: none;
	transition: color 0.5s ease;
}

@media (max-width: 800){

}