.nav{
	background-color: white;
	width: 100%;
	height: 50px;
	z-index: 2;
	transform: translateY(-105%);
	transition: transform 0.5s ease;
	position: fixed;
	border-bottom-right-radius: 5rem;
	border-bottom-left-radius: 5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 1px 1px 1px 1px var(--pumpkin);
}

.nav.show{
	transform: translate(0%);
	transition: transform 0.5s ease;
}

.nav .brand{
	color: var(--pumpkin);
	font-family: var(--title);
	font-size: 1.5rem;
	letter-spacing: 0.5px;
	font-weight: 700;
}
.nav .brand:hover{
	text-decoration: none;
}

.nav-menu ul{
	list-style: none;
	display: flex;
	margin-top: 10px;
}

.nav-menu ul li.nav-item:not(:first-child){
	margin-left: 1.5rem;
}

.nav-menu ul li a{
	color: var(--richblack);
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.5s ease;
	font-size: 1.2rem;
	cursor: pointer;
}

.nav-menu ul li a:hover{
	color: var(--pumpkin);
	transition: color 0.5s ease;
}

.nav-item a.selected{
	color: var(--pumpkin) !important;
}

div.spacer{
	height: 2px;
	width: 100%;
	background-color: var(--pumpkin);
	margin-top: 10px;
	display: none;
}

.dropdown{
	color: var(--richblack);
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.5s ease;
	cursor: pointer;
	position: relative;
}

.dropdown-content{
	position: absolute;
	display: none;
	flex-direction: column;
	background-color: white;
	width: 200px;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.dropdown span + .dropdown-spacer{
	display: none;
}

.dropdown span:hover span + .dropdown-spacer{
	display: block;
}

.dropdown-content .dropdown-content-link{
	font-size: 0.9rem;
	padding: 10px;
	color: var(--richblack) !important;
}

.dropdown-content .dropdown-content-link:hover{
	color: var(--pumpkin) !important;
}

.dropdown:hover .dropdown-content{
	display: flex;
}

.dropdown-spacer{
	height: 1px;
	width: 80%;
	background-color: var(--pumpkin);
	margin: 0 auto;
}

#register{
	color: var(--maxbluegreen) !important ;
	font-weight: 500;
	transition: color 0.5s ease;
}

#register:hover{
	color: var(--pumpkin) !important;
	transition: color 0.5s ease;
}

div.hamburger{
  background-color: rgba(0, 0, 0, .5);
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 3;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  display: none;
}


div.hamburger i{
  font-size: 30px;
  color: var(--pumpkin);
  z-index: 3;
  /*pointer-events: none;*/
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1045px){
	.nav-menu ul{
		/*margin-top: 15px !important;*/
	}

	.nav-menu ul li a{
		font-size: 1rem;
	}
	.nav-menu ul li{
		margin-left: 10px
	}
}

@media (max-width: 920px){
	.dropdown-content .dropdown-content-link{
		font-size: 0.75rem;
	}
	.nav-menu ul li a{
		font-size: 0.7rem;
		/*background-color: yellow;*/
	}
}

@media (max-width: 780px){ /* tablet nav*/
  .nav{
    height: 9.5vh !important;
    flex-direction: column;
    justify-content: flex-start !important;
  }

  .nav-menu ul{  
    margin-top: 0px !important;
  }
  
}

@media (max-width: 650px){
	.dropdown-content .dropdown-content-link{
		font-size: 0.6rem !important;
	}
}

@media (max-width: 580px){
	.nav-menu ul li a{
		font-size: 0.65rem !important;
	}
}

@media (max-width: 550px){ /*mobile nav*/
	div.hamburger{
	    display: flex;
	}
	.nav{
		height: 100vh !important;
		padding: 3rem 0 6rem 0;
		padding-top: 3rem;
		justify-content: space-between !important;
		border-radius: 0 !important;
		transform: translateY(-100%) !important;
		transition: transform 0.5s ease !important;
		background-color: rgba(0,0,0,0.75) !important;
		backdrop-filter: blur(5px);
		box-shadow: 0px 0px 0px 0px !important;
		z-index: 2 !important;
		flex-wrap: nowrap !important;
	}

	.brand{
		padding: 0.5rem;
		border-radius: 1rem;
		letter-spacing: 1.3px !important;
	}

	.nav-menu ul{  
		flex-direction: column;
		height: 65vh;
		width: 25vw;
	}

	.nav-menu ul li.nav-item{
		margin-left: 0 !important;
		text-align: center;
		margin-top: 1rem;

	}

	div.spacer{
		display: block !important;
	}

	.nav-menu ul li a{
		font-weight: 500 !important;
		color: white !important;
	}

	.nav.mobile-show{
		transform: translateY(0%) !important;
		transition: transform 0.5s ease !important;
	}
}

@media (max-width: 330px){
    .nav{
        padding-top: 1rem !important;
    }

    .nav-menu ul{ 
        height: 68vh;
    }
}

