.register,
.login{
	color: black;
	padding: 0 1rem;
	z-index: 2;
	/*font-size: 2rem;*/
}

.register form,
.login form{
	background-color: white;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 2rem 1rem 1rem 1rem;
	border-radius: 5px;
	min-width: 300px;
	opacity: 1;
	animation: showComponent 0.5s ease;
}

.show-auth-form{
	animation: showComponent 0.5s ease;
}

.form-header{
	text-align: center;
	color: var(--pumpkin);
	font-size: 2rem;
	position: relative;
}



.form-switch{
	text-align: right;
}

.form-switch span{
	color: var(--pumpkin);
	cursor: pointer;
}

.form-switch span:hover{
	text-decoration: underline;
}

.register form i.fas.fa-times,
.login form i.fas.fa-times,
.register form i.far.fa-eye,
.login form i.far.fa-eye,
.register form i.far.fa-eye-slash,
.login form i.far.fa-eye-slash{
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 1.3rem;
	color: var(--pumpkin);
	cursor: pointer;
}

.form-div{
	position: relative;
}

.form-div .form-label{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	pointer-events: none;
	color: var(--maxbluegreen);
	background-color: white;
	padding: 0 5px;
}

.form-div .form-input{
	/*background-color: var(--cultured);*/
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.25);
	letter-spacing: 0.5px;
}

.form-div .form-input:focus + .form-label{
	top: -0.75rem;
	/*left: -5px;*/
	transition: top 0.2s ease;
	font-size: 0.8rem;
	color: var(--pumpkin);
}

.form-div .form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label{
	top: -0.75rem;
	/*left: -5px;*/
	transition: top 0.2s ease;
	font-size: 0.8rem;
	color: var(--pumpkin);
}

.register-form-btn,
.login-form-btn{
	background-color: var(--pumpkin) !important;
	outline: none !important;
	border: none !important;
}

.form-div input[type="text"]:focus,
.form-div input[type="password"]:focus,
.form-div input[type="email"]:focus{   
  border-color: rgba(58, 185, 198, 0.5);
  box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent;
  outline: 0 none;
}


i.far.fa-question-circle{
	/*position: absolute;*/
	font-size: 1rem;
	/*bottom: 5px;
	right: 0;*/
	cursor: pointer;
	pointer-events: none;
	/*background-color: yellow;*/
}



.tool-tip-wrapper{
	position: absolute;
	
	background-color: var(--gainsboro);
	width: 100%;
	top: 1rem;
	right: -19rem;
	font-size: 1rem;
	border-radius: 5px;
	display: none;
	padding: 1rem 1rem 0 1rem;
}

.help-wrapper{
	/*background-color: teal;*/
	z-index: 2;
	position: absolute;
	bottom: 5px;
	right: 0;
	width: fit-content;
	height: fit-content;
}

.help-wrapper:hover + .tool-tip-wrapper{
	display: block;
	animation: showComponent 0.5s ease;
}

.tool-tip{
	/*background-color: teal;*/
	position:relative;
	color: black;
	text-align: left;
	/*
	display: flex;
	flex-direction: column;
	align-items: flex-start;*/
}

.tool-tip:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:-2.9rem;
    top:-1rem;
    border:15px solid transparent;
    border-right: 20px solid var(--gainsboro);
}

.tool-tip p span{
	color: var(--pumpkin);
}

.tool-tip p{
	font-size: 0.9rem;
}

.success::before,
.danger::before{
	width: 5px;
	height: 100%;
	content: "";
	position: absolute;
	left: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.success::before{
	background-color: var(--success);
	/*font-family: "Font Awesome 5 Free";
  	font-weight: 900;
	content: "\f00c";*/
}

.danger::before{
	background-color: var(--danger);
}

.form-message{
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translate(-50%);
	width: fit-content;
	font-family: var(--text);
	font-weight: 600;
	/*display: none;*/
	/*background-color: yellow;*/
}

.show-form-message{
	display: block;
}

.success-msg{
	color: var(--success);
}
.fail-msg{
	color: var(--danger);
}
.warning-msg{
	color: var(--pumpkin);
}

.success-msg,
.fail-msg{
	/*text-transform: capitalize;*/
}



@media (max-width: 900px){
	.tool-tip-wrapper{
		right: 0;
		top: -12rem;
	}

	.tool-tip:after{
	    display: none;
	}

	.auth-wrapper{
		padding-top: 1rem;
	}
}

